<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
      body {
        background-color: #fffffe;
      }

      #container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        height: auto;
        color: maroon;
        background-color: #faebf8;
        margin-left: 0px;
        border-radius: 16px;
        border: 2px solid pink;
      }

      #buttonContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      button {
        background-color: #00ebc7;
        padding: 10px;
        border-radius: 6px;
      }

      #edit {
        width: 220px;
      }

      #screen {
        width: 100%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #username {
        color: darkslateblue;
        font-weight: bold;
        font-size: 18px;
      }

      textarea {
        border: 1px solid lightgray;
        width: 300px;
        height: 75px;
        border-radius: 8px;
        margin: 10px;
      }

      #formTop {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #post {
        margin: 10px;
      }

      .reported {
        color: black;
        font-size: 14px;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 90%;
        align-items: center;
      }
      #postid {
        height: 0.00001px;
      }

      #formTop {
        background-color: rgb(212, 35, 182);
        border-radius: 12px;
      }

    </style>
  </head>
  <body>
    <div id="screen">
      <form id="logout" action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
      <form id="formTop" action="/posts" method="post">
        <textarea
          name="text"
          placeholder="Come on type smth in here"
        ></textarea>
        <button type="submit">Publish</button>
      </form>
      <div>
        <% posts.forEach(function(post) {%>
        <br />

        <div id="container">
          <p id="username"><%= post.user_name%></p>
          <div id="post"><%= post.text%></div>
          <form action="/edit" method="post">
            <textarea name="id" id="postid" readonly><%= post.id%></textarea>
            <textarea
              name="text"
              id="edit"
              placeholder="edit post here"
            ></textarea>
            <button id="submit">Update Post</button>
          </form>
          <div id="buttonContainer">
            <% if( post.alreadyFollowed===0){ %>
            <form action="/follow/<%= post.user_id%>" method="post">
              <button type="submit">Follow</button>
            </form>
            <% } else{ %>
            <form action="/unfollow/<%= post.user_id%>" method="post">
              <button type="submit">Unfollow</button>
            </form>
            <% } %> <% if( post.alreadyReported===0){ %>
            <form action="/report/<%= post.user_id%>" method="post">
              <button class="report" type="submit">Report</button>
            </form>
            <% } else{ %>
            <div class="reported">Reported</div>
            <% } %>
          </div>
        </div>
        <%});%>
      </div>
    </div>
  </body>
</html>
